body {
  margin: 0;
  background-color: #fffcfa;
  color: #3333ff;
  user-select: none;
}

.flex-container {
  display: flex;
  position: absolute;
  height: 95%;
  left: 5%;
  top: 2.5%;
}

.flex-container>div {
  background-color: #fffcfa;
  padding: 0.5%;
  padding-left: 1%;
  padding-right: 2%;
  font-size: 50px;
  width: 450px;
  max-height: 82%;
  overflow: scroll;
  position: relative;
  transition: 1.5s;
}

.boxNumber {
  border-left: solid;
}

/* Page Title */
h1 {
  display: block;
  position: absolute;
  left: 2.5%;
  top: 5%;
  margin: 1%;
  font-family: 'PT Mono', monospace;
  font-size: 135%;
  line-height: 120%;
}

/* Numbers */
h2 {
  margin: 0;
  position: absolute;
  top: -7%;
  font-size: 300pt;
  font-family: 'M PLUS 1 Code', sans-serif;
  opacity: 0.1;
}

/* Project Titles */
h3 {
  margin: 0;
  /* margin-left: 100px; */
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.6em;
}

.year {
  color: red;
}

/* Keywords */
h4 {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  font-size: 0.4em;
  margin-top: 8px;
}

/* Small buttons */
h6 {
  position: absolute;
  left: 5%;
  top: 68%;
  font-size: 0.34em;
  font-family: 'Roboto Mono', monospace;
}

.pageTitle {
  top: 5%;
  border-style: none;
}

/* Small links */
a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: red;
  transition: 0.3s;
}

.links {
  font-size: 16px;
  height: inherit;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  display: inline;
}

/* Hide scrollbar Chrome */
::-webkit-scrollbar {
  display: none;
}

.visuals {
  width: 800px;
  margin-right: : 0px;
}

img {
  max-width: 100%;
  max-height: 1500px;
}

video {}

.imgName {
  font-size: 14pt;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.imgSource {
  font-size: 10pt;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin-bottom: 25px;
  color: grey;
  width: 800px;
  align-items: left;
}

.buttonCollapse {
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  right: 5%;
  top: 30%;
  height: 60%;
  width: 55px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
}

/* .buttonCollapse:hover {
  background-color: lime;
  transition: 0.3s;
  box-shadow: inset 0px 0px 10px 10px #DBA632;
  border-right-style: solid;
} */
.restore {
  background-color: #3333ff;
  color: white;
  position: absolute;
  right: 5%;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
  transition: 0.3s;
}

.restore:hover {
  background-color: #fffcfa;
  color: #3333ff;
  transition: 0.3s;
}

p {
  font-size: 0.3em;
  line-height: 1.8em;
  font-family: 'PT Mono', monospace;
}

.info {
  height: auto;
  overflow: scroll;
}

html {
  scrollbar-width: none;
}